body {
    background-color: rgb(247, 229, 205);
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;    
}

.head{
    background-color: burlywood;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: honeydew;
    border: 5px;
    align-items:center;
    justify-content: space-around;
    display: flex;    
}

.buttons{
    border-style: double; 
     color: coral;
}

.gridcontainer > div {
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
    border: 1px solid grey;
}

.gridcontainer {
    display: grid;    
}